<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">基本信息</div>
        <div class="panel-body">
            <div class="col-lg-8">
                <!--draw pic-->
                <div id="container_carbon"></div>
                <div id="container_humidity"></div>
                <div id="container_temperature"></div>
            </div>
            <div class="col-lg-4">
                <table class="table table-bordered table-striped" id='detail_content'>
                    <!--<colgroup>-->
                        <!--<col class="col-xs-1">-->
                        <!--<col class="col-xs-3">-->
                    <!--</colgroup>-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>项目</th>-->
                        <!--<th>信息</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                </table>
            </div>
        </div>
    </div>

</div>
