<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">基本信息</div>
        <div class="panel-body">
            <div class="col-lg-8">
                <!--draw pic-->
                <div id="container"></div>
            </div>
            <div class="col-lg-4">
                <table class="table table-bordered table-striped">
                    <colgroup>
                        <col class="col-xs-1">
                        <col class="col-xs-3">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>项目</th>
                        <th>信息</th>
                    </tr>
                    </thead>
                    {%for dc in data_contents %}
                        <tr>
                            <td class="active">{{dc['name']}}</td>
                            <td id="{{dc['id']}}"></td>
                        </tr>
                    {%end%}
                </table>
            </div>
        </div>
    </div>

</div>