<div class="row">
    <div class="col-lg-8">
        <div class="input-group">
            <span class="input-group-addon">
                {{ di['mac_address']}}
            </span>
            <select class="combobox form-control" id="duration">
                <option value="1s">1</option>
                <option value="2s">2</option>
                <option value="10s">10</option>
                <option value="30s">30</option>
                <option value="1min">60</option>
                <option value="10min">600</option>
             </select>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->