{%extends "base.html" %}
{% block metadata%}
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/preview_app.css">
<script src="/static/js/preview_app.js"></script>
<!--<script src="/static/js/data_show.js"></script>-->
<script src="/static/js/chart/highcharts.js"></script>
<script src="/static/js/chart/modules/exporting.js"></script>
<script src="/static/js/chart/themes/grid.js"></script>
{%end%}
{%block title%}采集数据{%end%}

{%block content%}
    <div class="row">
        <select class="combobox form-control" id="chamber_name" value="{{current_key[0]}}" onchange='on_selecteditem_change()'>
            {%for item in chambers%}
                <option value="{{item[0]}}">{{item[1]}}</option>
            {%end%}
        </select>
    </div>
    <br/>
    <div class="content">
        {% include chamber.html %}
    </div>
    <div>
        <div class="LoadingBg"></div>
        <div class="Loading_message"></div>
        <div class="LoadingImg"></div>
    </div>
{%end%}